<mat-card>
    <form [formGroup]="productForm" (ngSubmit)="submit()">
        <mat-form-field appearance="fill">
            <mat-label>Название товара</mat-label>
            <input formControlName="name" matInput>
        </mat-form-field>

        <div>
            <button type="button" mat-fab color="accent" (click)="file.click()">
                <mat-icon>plus_one</mat-icon>
                <input formControlName="product_images" style="display:none;" #file type='file' accept='image/*' multiple (change)="imageChangeEvent($event)" />
            </button>
            <img *ngFor='let url of imagesPreview'  [src]="url" height="150" width="200px" style="margin: 3px;"> <br/>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Описание</mat-label>
            <textarea formControlName="description" matInput></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Категория товара</mat-label>
            <mat-select formControlName="category" category="category">
              <mat-option value="Первая категория">Первая категория</mat-option>
              <mat-option value="Вторая категория">Вторая категория</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary">Сохранить</button>
    </form>
</mat-card>
