<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened="true">
        <mat-nav-list>

            <mat-list-item>
                <mat-icon mat-list-icon >chevron_right</mat-icon>
            </mat-list-item>

            <mat-list-item>
                <mat-icon mat-list-icon >chevron_right</mat-icon>
                <span>Админпанель</span>
            </mat-list-item>

        </mat-nav-list>
    </mat-sidenav>

    <div>
        <app-header></app-header>
        
    </div>
</mat-sidenav-container>